* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  background-color: black;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.child {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 1px solid black;
}

.container2 {
  height: 500px;
  display: flex;
  background-color: black;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.child2 {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 1px solid black;
}

.container-relative {
  width: 100%;
  height: 500px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 {
  height: 300px;
  width: 500px;
  display: flex;
  background-color: black;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.child3 {
  width: 150px;
  height: 70px;
  background-color: red;
  border: 1px solid black;
  position: relative;
  top: -20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
