* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  background-color: black;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.child {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 1px solid black;
}
